<div id="comments">
        <script src="https://giscus.app/client.js"
                data-repo="memorybot/memorybot.github.io"
                data-repo-id="R_kgDOL8X1DA"
                data-category="Announcements"
                data-category-id="DIC_kwDOL8X1DM4CfZ0m"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="noborder_light" 
                data-lang="zh-CN"
                crossorigin="anonymous"
                async>
        </script>
</div>

<!-- light_tritanopia  light_protanopia  noborder_light -->

<!-- <div id="comments">
        <script src="https://giscus.app/client.js"
                data-repo="memorybot/"
                data-repo-id="R_kgDOMRZ52Q"
                data-category="Announcements"
                data-category-id="DIC_kwDOMRZ52c4CgkHf"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="noborder_light"
                data-lang="zh-CN"
                crossorigin="anonymous"
                async>
        </script>
</div> -->